*{
    margin: 0;
    box-sizing: border-box;
}

.body{
    min-height: 100vh;
    display: grid;
    place-items: center;
background-color: rgb(34, 26, 26);
color: white;
margin: 0;

}

h1{
    font-size: 45px;
}


.div{
background-color: #121212;
padding: 20px;
text-align: center;
margin: 0;
border-radius: 10px;
box-shadow: 1px 1px 3px  rgb(0, 0, 0)     ;
}

.p{
    font-size: 100px;
    font-family: monospace;
    color: rgb(255, 255, 255);
}

.button{
 padding: 8px;
 background-color: rgb(22, 30, 73);
 margin: 3px;
 border: 3px solid rgb(134, 131, 131);
 transition: transform 0.4s;
    
}

.button:hover {
    cursor: pointer;
    border-color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    transform: scale(1.2);
    ;
}